<div class="followus">

    <div class="newsletter">
        <img class="newsletter__promo deskOnly" src="/img/homepage/promo.png">
        <span class="newsletter__title f--light c--green text--20">BOTTEGA VERDE NEWSLETTER</span>
        <p class="newsletter__description">Iscriviti e ricevi subito <span class="c--green f--semibold">5 Euro di sconto</span> sul tuo primo acquisto!</p>
        <div class="newsletter__form">
            <div class="newsletter__input">
                <input class="input input--newsletter f--italic" type="text" placeholder="inserisci il tuo indirizzo email...">
                <button class="button button--in-input c--grayDark text--13" type="button">INVIA</button>
            </div>
            <div class="newsletter__privacy">
                <input id="homeNewsletterPrivacy" class="input input--checkbox" type="checkbox">
                <label for="homeNewsletterPrivacy" class="f--lightsubitalic text--14">Ho letto e accetto le <a class="f--lightsubitalic" href="javascript:void(0);">condizioni</a> sulla  privacy.</label>
            </div>
        </div>
    </div>

    <div class="social">
        <span class="social__title f--light c--green text--20">DIVENTA NOSTRO FAN</span>
        <p class="social__description f--lightsubitalic">Seguici su</p>
        <div class="social__icons">
            <a class="social__icon" href="javascript:void(0);">
                <span class="icon icon--facebook text--26"></span>
            </a>
            <a class="social__icon" href="javascript:void(0);">
                <span class="icon icon--twitter text--35"></span>
            </a>
            <a class="social__icon" href="javascript:void(0);">
                <span class="icon icon--youtube text--30"></span>
            </a>
            <a class="social__icon" href="javascript:void(0);">
                <span class="icon icon--instagram text--24"></span>
            </a>
        </div>
    </div>

</div>

<a class="backToTop" href="javascript:void(0);">
    <span class="icon icon--angle-circle-o-green text--30"></span>
</a>