<div class="mainnav mainnav--mainmenu">
    <div class="mainnav__item mainnav__item--submenutrigger">
        <p class="j-mainnav__top item__text text--14">
            VISO
        </p>
        <div class="mainnav__submenu">
            <div class="mainnav__submenu__columns">
                <ul class="column">
                    <li class="j-mainnav__mid column__item">
                        <a class="column__title text--14" href="javascript:void(0);">IN EVIDENZA</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">GRANDI SUCESSI</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">NOVIT&Agrave;</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">OFFERTE IMPERDIBILI</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">I PI&Ugrave; AMATI</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">IDEE REGALO</a>
                    </li>
                </ul>
                <ul class="column">
                    <li class="j-mainnav__mid column__item">
                        <a class="column__title text--14" href="javascript:void(0);">VISO</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Crema giorno</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Crema notte</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Contorno occhi</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Sieri</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Struccanti</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Detergenti viso</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Tonico &amp; Lozioni</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Primer, BB e CC</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Trattamenti speciali</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Accessori</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Taglie da viaggio</a>
                    </li>
                </ul>
                <ul class="column column--image">
                    <li class="j-mainnav__mid column__item">
                        <a class="column__title text--14" href="javascript:void(0);">PRODOTTO DELLA SETTIMANA</a>
                    </li>
                    <li class="column__item">
                        <div class="product">
                            <div class="product__image" style="background-image:url('/img/placeholder/menu-item.png');">
                                <span class="badge badge--must-have"></span>
                            </div>
                            <div class="product__info">
                                <p class="product__description text--18 c--grayDark">
                                    Rossetto protezione e colore con olio di Argan
                                </p>
                                <p class="product__prices">
                                    <span class="product__price product__price--old c--grayLight">€ 14,49 </span>
                                    <span class="product__price product__price--discount c--green">-65% </span>
                                    <span class="product__price product__price--current c--grayDark">€ 4,99 </span>
                                    <a class="button c--white text--12" href="javascript:void(0);">VEDI</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="column column--image">
                    <li class="j-mainnav__mid column__item">
                        <a class="column__title text--14" href="javascript:void(0);">OFFERTA SPECIALE</a>
                    </li>
                    <li class="column__item">
                        <div class="product">
                            <div class="product__image" style="background-image:url('/img/placeholder/menu-item.png');">
                                <span class="badge badge--offerta"></span>
                            </div>
                            <div class="product__info">
                                <p class="product__description text--18 c--grayDark">
                                    Rossetto protezione e colore con olio di Argan
                                </p>
                                <p class="product__prices">
                                    <span class="product__price product__price--old c--grayLight">€ 14,49 </span>
                                    <span class="product__price product__price--discount c--green">-65% </span>
                                    <span class="product__price product__price--current c--grayDark">€ 4,99 </span>
                                    <a class="button c--white text--12" href="javascript:void(0);">VEDI</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mainnav__submenu__suggestions">
                <div class="suggestions">
                    <div class="suggestion">
                        <div class="suggestion__image" style="background-image:url('/img/placeholder/menu-suggestion.png')"></div>
                        <div class="suggestion__info">
                            <p class="suggestion__title c--grayDark text--14">CONTENUT0 1</p>
                            <p class="suggestion__description text--14">Lorem ipsum dolor sit amet, consectetur.</p>
                            <a class="suggestion__link text--14 c--green" href="javascript:void(0);">FAI IL TEST ></a>
                        </div>
                    </div>
                    <div class="suggestion">
                        <div class="suggestion__image" style="background-image:url('/img/placeholder/menu-suggestion.png')"></div>
                        <div class="suggestion__info">
                            <p class="suggestion__title c--grayDark text--14">CONTENUT0 2</p>
                            <p class="suggestion__description text--14">Lorem ipsum dolor sit amet, consectetur.</p>
                            <a class="suggestion__link text--14 c--green" href="javascript:void(0);">SCOPRI COME ></a>
                        </div>
                    </div>
                    <div class="suggestion">
                        <div class="suggestion__image" style="background-image:url('/img/placeholder/menu-suggestion.png')"></div>
                        <div class="suggestion__info">
                            <p class="suggestion__title c--grayDark text--14">CONTENUT0 3</p>
                            <p class="suggestion__description text--14">Lorem ipsum dolor sit amet, consectetur.</p>
                            <a class="suggestion__link text--14 c--green" href="javascript:void(0);">FAI IL TEST ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainnav__item mainnav__item--submenutrigger">
        <p class="j-mainnav__top item__text text--14">
            MAKE-UP
        </p>
        <div class="mainnav__submenu">
            <div class="mainnav__submenu__columns">
                <ul class="column">
                    <li class="j-mainnav__mid column__item">
                        <a class="column__title text--14" href="javascript:void(0);">IN EVIDENZA</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">GRANDI SUCESSI</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">NOVIT&Agrave;</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">OFFERTE IMPERDIBILI</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">I PI&Ugrave; AMATI</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">IDEE REGALO</a>
                    </li>
                </ul>
                <ul class="column">
                    <li class="j-mainnav__mid column__item">
                        <a class="column__title text--14" href="javascript:void(0);">VISO</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Base trucco</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Fondotinta*</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Correttori*</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Ciprie</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Terre</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Fard</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Acessori</a>
                    </li>
                </ul>
                <ul class="column">
                    <li class="j-mainnav__mid column__item">
                        <a class="column__title text--14" href="javascript:void(0);">OCCHI</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Ombretti</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Eyeliner</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Matite occhi</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Mascara</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Sopracciglia</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Struccanti</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Accessori</a>
                    </li>
                </ul>
                <ul class="column">
                    <li class="j-mainnav__mid column__item">
                        <a class="column__title text--14" href="javascript:void(0);">LABBRA</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Rossetti</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Gloss</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Balsami labbra</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Matite labbra</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Accessori</a>
                    </li>
                </ul>
                <ul class="column">
                    <li class="j-mainnav__mid column__item">
                        <a class="column__title text--14" href="javascript:void(0);">MANI</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14 active" href="javascript:void(0);">Smalti</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Curativi per unghie</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Solventi</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Accessori</a>
                    </li>
                </ul>
            </div>
            <div class="mainnav__submenu__suggestions">
                <div class="suggestions">
                    <div class="suggestion">
                        <div class="suggestion__image" style="background-image:url('/img/placeholder/menu-suggestion.png')"></div>
                        <div class="suggestion__info">
                            <p class="suggestion__title c--grayDark text--14">CONTENUT0 1</p>
                            <p class="suggestion__description text--14">Lorem ipsum dolor sit amet, consectetur.</p>
                            <a class="suggestion__link text--14 c--green" href="javascript:void(0);">FAI IL TEST ></a>
                        </div>
                    </div>
                    <div class="suggestion">
                        <div class="suggestion__image" style="background-image:url('/img/placeholder/menu-suggestion.png')"></div>
                        <div class="suggestion__info">
                            <p class="suggestion__title c--grayDark text--14">CONTENUT0 2</p>
                            <p class="suggestion__description text--14">Lorem ipsum dolor sit amet, consectetur.</p>
                            <a class="suggestion__link text--14 c--green" href="javascript:void(0);">SCOPRI COME ></a>
                        </div>
                    </div>
                    <div class="suggestion">
                        <div class="suggestion__image" style="background-image:url('/img/placeholder/menu-suggestion.png')"></div>
                        <div class="suggestion__info">
                            <p class="suggestion__title c--grayDark text--14">CONTENUT0 3</p>
                            <p class="suggestion__description text--14">Lorem ipsum dolor sit amet, consectetur.</p>
                            <a class="suggestion__link text--14 c--green" href="javascript:void(0);">FAI IL TEST ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainnav__item mainnav__item--submenutrigger">
        <p class="j-mainnav__top item__text text--14">
            BAGNO E CORPO
        </p>
        <div class="mainnav__submenu">
            <div class="mainnav__submenu__columns columns--5">
                <ul class="column">
                    <li class="j-mainnav__mid column__item">
                        <a class="column__title text--14" href="javascript:void(0);">IN EVIDENZA</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">GRANDI SUCESSI</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">NOVIT&Agrave;</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">OFFERTE IMPERDIBILI</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">I PI&Ugrave; AMATI</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">IDEE REGALO</a>
                    </li>
                </ul>
                <ul class="column">
                    <li class="j-mainnav__mid column__item">
                        <a class="column__title text--14" href="javascript:void(0);">BAGNO E CORPO</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Acqua profumate</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Bagnodoccia</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Idratanti</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Deodoranti</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Saponi e detergenti</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Scrub e prodotti speciali</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Creme mani</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Oli</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Detergenti intimi</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Prodotti piedi</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Accessori</a>
                    </li>
                </ul>
                <ul class="column">
                    <li class="j-mainnav__mid column__item">
                        <a class="column__title text--14" href="javascript:void(0);">UOMO</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Shampoo-doccia</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Balsamo, lozioni dopobarba</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Eau de toilette</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Prodotti per la rasatura</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Deodoranti</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Crema viso</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Gel per capelli</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Trattamenti capelli</a>
                    </li>
                </ul>
                <ul class="column">
                    <li class="j-mainnav__mid column__item">
                        <a class="column__title text--14" href="javascript:void(0);">SOLARI</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Sol - Aloe e agrumi</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Sol Bimbo</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Sol Capelli</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Sol Classica</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Sol cocco e Papaya</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Sol cocco e Lime</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Sol Elicrisio</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Sol Ibisco Argan</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Sol Orchidea e Taman&ugrave;</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Sol Pelli Sensibili</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Sol Tropical</a>
                    </li>
                    <li class="column__item">
                        <a class="column__link text--14" href="javascript:void(0);">Sol Vaniglia nera Monoi</a>
                    </li>
                </ul>
                <ul class="column column--image">
                    <li class="j-mainnav__mid column__item">
                        <a class="column__title text--14" href="javascript:void(0);">PROMOZIONE</a>
                    </li>
                    <li class="column__item">
                        <div class="product">
                            <div class="product__image" style="background-image:url('/img/placeholder/menu-item.png');">
                                <span class="badge badge--promo"></span>
                            </div>
                            <div class="product__info">
                                <p class="product__description text--18 c--grayDark">
                                    Rossetto protezione e colore con olio di Argan
                                </p>
                                <p class="product__prices">
                                    <span class="product__price product__price--old c--grayLight">€ 14,49 </span>
                                    <span class="product__price product__price--discount c--green">-65% </span>
                                    <span class="product__price product__price--current c--grayDark">€ 4,99 </span>
                                    <a class="button c--white text--12" href="javascript:void(0);">VEDI</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mainnav__submenu__suggestions">
                <div class="suggestions">
                    <div class="suggestion">
                        <div class="suggestion__image" style="background-image:url('/img/placeholder/menu-suggestion.png')"></div>
                        <div class="suggestion__info">
                            <p class="suggestion__title c--grayDark text--14">CONTENUT0 1</p>
                            <p class="suggestion__description text--14">Lorem ipsum dolor sit amet, consectetur.</p>
                            <a class="suggestion__link text--14 c--green" href="javascript:void(0);">FAI IL TEST ></a>
                        </div>
                    </div>
                    <div class="suggestion">
                        <div class="suggestion__image" style="background-image:url('/img/placeholder/menu-suggestion.png')"></div>
                        <div class="suggestion__info">
                            <p class="suggestion__title c--grayDark text--14">CONTENUT0 2</p>
                            <p class="suggestion__description text--14">Lorem ipsum dolor sit amet, consectetur.</p>
                            <a class="suggestion__link text--14 c--green" href="javascript:void(0);">SCOPRI COME ></a>
                        </div>
                    </div>
                    <div class="suggestion">
                        <div class="suggestion__image" style="background-image:url('/img/placeholder/menu-suggestion.png')"></div>
                        <div class="suggestion__info">
                            <p class="suggestion__title c--grayDark text--14">CONTENUT0 3</p>
                            <p class="suggestion__description text--14">Lorem ipsum dolor sit amet, consectetur.</p>
                            <a class="suggestion__link text--14 c--green" href="javascript:void(0);">FAI IL TEST ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="mainnav__item" href="javascript:void(0);">
        <p class="item__text text--14">
            PROFUMI
        </p>
    </a>
    <div class="mainnav__item">
        <p class="item__text text--14">
            IDEE REGALO
        </p>
    </div>
    <a class="mainnav__item" href="javascript:void(0);">
        <p class="item__text text--14">
            CAPELLI
        </p>
    </a>
    <a class="mainnav__item" href="javascript:void(0);">
        <p class="item__text text--14">
            CASA
        </p>
    </a>
    <a class="mainnav__item" href="javascript:void(0);">
        <p class="item__text text--14">
            INTEGRATORI
        </p>
    </a>
    <a class="mainnav__item" href="javascript:void(0);">
        <p class="item__text text--14">
            PROMOZIONI
        </p>
    </a>
    <a class="mainnav__item" href="javascript:void(0);">
        <p class="item__text text--14">
            TUTTE LE LINEE
        </p>
    </a>
    
</div>