<h1>Pages</h1>
<table class="table table-striped" style="width: 400px">
    <?php foreach($data['pages'] as $page_data): ?>
    <tr>
        <td>
            <b>
                <?=$page_data['title']?>
            </b>
        </td>
        <td>
            <a href="/admin/pages/edit/<?=$page_data['id']?>"><button class="btn btn-sm btn-primary">Редактировать</button></a>
            <a href="/admin/pages/delete/<?=$page_data['id']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">Удалить</button></a>
        </td>
    </tr>
    <?php endforeach; ?>
</table>

<div>
    <a href="/admin/pages/add/"><button class="btn btn-sm btn-success">Добавить новую страницу</button></a>
</div>