<div class="header">

    <span class="j-mainnav__trigger icon icon--menu-trigger"></span>
    <span class="j-search__trigger icon icon--search"></span>

    <div class="searchbox">
        <div class="searchbox__text">
            <p class="searchbox__title c--green text--18">RICERCA PRODOTTO</p>
            <p class="searchbox__text c--grayLight text--14">Inizia a digitare il nome del prodotto che cerchi...</p>
        </div>
        <button class="button button--radius" type="button">
            <span class="icon icon--search"></span>
        </button>
        <input class="input input--search f--italic text--14" type="text" placeholder="Cerca nel sito ..."/>
        <div class="j-search__trigger backmobile">
            <a class="text--12 c--greenDark f--bold" href="javascript:void(0);">&lt;&lt; INDIETRO</a>
        </div>
    </div>

    <span class="icon icon--logo mainlogo"></span>

    <div class="usernav usernav--mainmenu">
        <div class="usernav__item">
            <label class="j-usernav__trigger submenutrigger" for="j-userMenuCheck">
                <span class="icon icon--user text--18"></span>
            </label>
            <input id="j-userMenuCheck" class="checkboxtrigger" type="checkbox">
            <div class="usernav__submenu">
                <div class="usernav__submenu__body">
                    <p class="submenu__text c--green text--13">ACCEDI AL TUO ACCOUNT <span class="icon icon--user text--13"></span></p>
                    <label class="submenu__closer" for="j-userMenuCheck">
                        <span class="icon icon--close-x text--12"></span>
                    </label>
                </div>
                <div class="usernav__submenu__body">
                    <input class="input f--italic has-error" type="email" placeholder="Il tuo indirizzo email" />
                    <input class="input f--italic" type="password" placeholder="La tua password" />
                    <a class="submenu__text submenu__link c--grayLight text--12" href="javascript:void(0)">Hai dimenticato la tua password?</a>
                    <a class="button c--white text--12" href="javascript:void(0)">ACCEDI</a>
                </div>
                <div class="usernav__submenu__body">
                    <p class="submenu__text c--greenDark text--12 f--bold">NON HAI ANCORA UN ACCOUNT?</p>
                    <p class="submenu__text c--grayLight text-14">Crea il tuo account per rimanere sempre in contatto con Bottega Verde.</p>
                    <a class="button c--white text--12" href="javascript:void(0)">CREA ACCOUNT</a>
                </div>
                <div class="j-usernav__trigger backmobile">
                    <a class="text--12 c--greenDark f--bold" href="javascript:void(0);">&lt;&lt; INDIETRO</a>
                </div>
            </div>
        </div>
        <div class="usernav__item">
            <label class="j-minicart__trigger submenutrigger" for="j-userMinicartCheck">
                <span class="icon icon--shop-green text--26"></span>
            </label>
            <input id="j-userMinicartCheck" class="checkboxtrigger" type="checkbox">
            <div class="usernav__submenu">
                <div class="usernav__submenu__body">
                    <p class="submenu__text">
                        <span class="submenu__text--desk c--green text--13">ULTIMI 6 PRODOTTI AGGIUNTI</span>
                        <span class="submenu__text--mobile c--green text--13">PRODOTTI NEL CARRELLO </span>
                        <span class="icon icon--shop-green text--20"></span>
                    </p>
                    <label class="submenu__closer" for="j-userMinicartCheck">
                        <span class="icon icon--close-x text--12"></span>
                    </label>
                </div>
                <div class="usernav__submenu__body">
                    <div class="products">
                        <div class="product product--small-list">
                            <div class="product__image" style="background-image:url('images/placeholder/menu-item.png');"></div>
                            <div class="product__info">
                                <p class="product__description text--12 c--grayDark">
                                    ROSSETTO IDRATANTE PROTETTIVO
                                </p>
                                <p class="product__details text--12 c--grayDark">
                                    COLORE: <span class="c--green">Rosa romantico</span> | QTY: <span class="c--green">1</span>
                                </p>
                                <p class="product__prices">
                                    <span class="product__price product__price--old c--grayLight">€ 14,49 </span>
                                    <span class="product__price product__price--discount c--green">-65% </span>
                                    <span class="product__price product__price--current c--grayDark">€ 4,99 </span>
                                </p>
                            </div>
                        </div>
                        <div class="product product--small-list">
                            <div class="product__image" style="background-image:url('images/placeholder/menu-item.png');"></div>
                            <div class="product__info">
                                <p class="product__description text--12 c--grayDark">
                                    ROSSETTO IDRATANTE PROTETTIVO
                                </p>
                                <p class="product__details text--12 c--grayDark">
                                    COLORE: <span class="c--green">Rosa romantico</span> | QTY: <span class="c--green">1</span>
                                </p>
                                <p class="product__prices">
                                    <span class="product__price product__price--old c--grayLight">€ 14,49 </span>
                                    <span class="product__price product__price--discount c--green">-65% </span>
                                    <span class="product__price product__price--current c--grayDark">€ 4,99 </span>
                                </p>
                            </div>
                        </div>
                        <div class="product product--small-list">
                            <div class="product__image" style="background-image:url('images/placeholder/menu-item.png');"></div>
                            <div class="product__info">
                                <p class="product__description text--12 c--grayDark">
                                    ROSSETTO IDRATANTE PROTETTIVO
                                </p>
                                <p class="product__details text--12 c--grayDark">
                                    COLORE: <span class="c--green">Rosa romantico</span> | QTY: <span class="c--green">1</span>
                                </p>
                                <p class="product__prices">
                                    <span class="product__price product__price--old c--grayLight">€ 14,49 </span>
                                    <span class="product__price product__price--discount c--green">-65% </span>
                                    <span class="product__price product__price--current c--grayDark">€ 4,99 </span>
                                </p>
                            </div>
                        </div>
                        <div class="product product--small-list">
                            <div class="product__image" style="background-image:url('images/placeholder/menu-item.png');"></div>
                            <div class="product__info">
                                <p class="product__description text--12 c--grayDark">
                                    ROSSETTO IDRATANTE PROTETTIVO
                                </p>
                                <p class="product__details text--12 c--grayDark">
                                    COLORE: <span class="c--green">Rosa romantico</span> | QTY: <span class="c--green">1</span>
                                </p>
                                <p class="product__prices">
                                    <span class="product__price product__price--old c--grayLight">€ 14,49 </span>
                                    <span class="product__price product__price--discount c--green">-65% </span>
                                    <span class="product__price product__price--current c--grayDark">€ 4,99 </span>
                                </p>
                            </div>
                        </div>
                        <div class="product product--small-list">
                            <div class="product__image" style="background-image:url('images/placeholder/menu-item.png');"></div>
                            <div class="product__info">
                                <p class="product__description text--12 c--grayDark">
                                    ROSSETTO IDRATANTE PROTETTIVO
                                </p>
                                <p class="product__details text--12 c--grayDark">
                                    COLORE: <span class="c--green">Rosa romantico</span> | QTY: <span class="c--green">1</span>
                                </p>
                                <p class="product__prices">
                                    <span class="product__price product__price--old c--grayLight">€ 14,49 </span>
                                    <span class="product__price product__price--discount c--green">-65% </span>
                                    <span class="product__price product__price--current c--grayDark">€ 4,99 </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="usernav__submenu__body">
                    <p class="submenu__title c--green text--13 f--bold">GRATIS UN OMAGGIO GI&Agrave; NEL TUO CARRELLO</p>
                </div>
                <div class="usernav__submenu__body">
                    <div class="pricebox">
                        <p>
                            <span class="pricebox__label text--20 c--grayDark">TOTALE</span>
                            <span class="pricebox__amount text--20 c--grayDark">EUR 20,99</span>
                            <span class="pricebox__text text--12">Ordine minimo EUR 20</span>
                        </p>
                        <a class="button c--white" href="javascript:void(0)">VAI AL CARRELLO</a>
                    </div>
                </div>
                <div class="usernav__submenu__body">
                    <p class="submenu__title c--green text--13 f--bold">SPEDIZIONE GRATUITA</p>
                    <p class="submenu__title text--14">Ti mancano solo <span class="c--green">20,00 €</span> per avere diritto alla spedizione standard gratuita !</p>
                </div>
                <div class="j-minicart__trigger backmobile">
                    <a class="text--12 c--greenDark f--bold" href="javascript:void(0);">&lt;&lt; INDIETRO</a>
                </div>
            </div>
        </div>
    </div>

</div>