<div class="smallnav smallnav--mainmenu">
    <a class="smallnav__item" href="javascript:void(0);">
        <p class="item__text text--12">
            <span class="f--bold c--green">NOVIT&Agrave;</span> Gratis la consegna del tuo ordine!
        </p>
    </a>
    <a class="smallnav__item" href="javascript:void(0);">
        <p class="item__text text--12">
            <span class="icon icon--logo-small text--12"></span> Chi siamo
        </p>
    </a>
    <a class="smallnav__item" href="javascript:void(0);">
        <p class="item__text text--12">
            <span class="icon icon--customers text--12"></span> Servizio clienti
        </p>
    </a>
    <a class="smallnav__item" href="javascript:void(0);">
        <p class="item__text text--12">
            <span class="icon icon--joinus text--12"></span> Lavora con noi
        </p>
    </a>
    <div class="smallnav__item smallnav__item--submenutrigger">
        <p class="item__text text--12">
            <span class="icon icon--pin text--12"></span> Negozi <span class="icon icon--small-arrow-down text--6"></span>
        </p>
        <div class="smallnav__submenu">
            <a class="smallnav__item smallnav__item--submenu" href="javascript:void(0);">
                <p class="item__text text--12">
                    Store locator
                </p>
            </a>
            <a class="smallnav__item smallnav__item--submenu" href="javascript:void(0);">
                <p class="item__text text--12">
                    Coupon
                </p>
            </a>
            <a class="smallnav__item smallnav__item--submenu" href="javascript:void(0);">
                <p class="item__text text--12">
                    Franchising
                </p>
            </a>
            <a class="smallnav__item smallnav__item--submenu" href="javascript:void(0);">
                <p class="item__text text--12">
                    Lavora con noi
                </p>
            </a>
        </div>
    </div>
    <a class="smallnav__item" href="javascript:void(0);">
        <p class="item__text text--12">
            <span class="icon icon--catalogue text--12"></span> Ordini da catalogo
        </p>
    </a>
</div>